language: python
python:
    - "2.7"
sudo: false
cache:
    directories:
        - "~/.platformio"
env:
    - PLATFORMIO_CI_SRC=src/main.cpp
install:
    - pip install -U platformio
script:
    - pio remote -a T430 run -t upload -e uno
    - pio remote -a T430 test -e uno